asgiref==3.2.10
astroid==2.3.3
beautifulsoup4==4.9.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
dj-database-url==0.5.0
Django==3.1
django-heroku==0.3.1
et-xmlfile==1.0.1
gunicorn==20.0.4
idna==2.9
isort==4.3.21
jdcal==1.4.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.1
mccabe==0.6.1
numpy==1.18.5
openpyxl==3.0.3
pandas==1.0.4
php==1.2.0
Pillow==7.2.0
pipenv==2018.11.26
psycopg2==2.8.5
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.26.4
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper-win==1.2.5
whitenoise==5.2.0
wrapt==1.11.2
XlsxWriter==1.2.9
