<!-- Form to generate new analysis for a user. Uses the simulationForm as described in forms.py -->

{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h2 class="selected-locality">
        <strong>Create Custom Analysis for <span class="locality_name">{{ county }}</strong></span>
    </h2>
    
    <div class="form-group">
        <form action = "/dash/" method="POST" value="{{county}}" name="generateButton">
            {% csrf_token %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
            {{ form.as_p }}
            <!-- {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %} -->
            <br>
            <button class="btn btn-primary btn-lg"> Generate Model </button>
        </form>
    </div>
    <br><br>
</div>
{% endblock content %}