{% extends 'base.html' %}

{% block content %}

<div id="solar-tool-prototype" class="section level1">
    <h1 class="data-header">Local Solar Revenue and Tax Analysis</h1>
    <div class="row">
        {% load custom_tags %}
        <div class = "col-xl-6 project-parameters">
            <h2 class="entered-data-title">Project Parameters</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Value</th>
                    </tr>
                </tr>
                </thead>
                <tbody>

                    {% for i in simulation %}
                        {% for field,value in i.fields.items %}
                            {% if field == 'locality' %}
                                <tr>
                                    <td>Locality</td>
                                    <td class="value locality_name">{% get_locality simulation %}</td>
                                </tr>
                                <tr>
                                    <td>Discount Rate</td>
                                    <td class="value">{% get_discount_rate simulation %}%</td>
                                </tr>
                                <tr>
                                    <td>Revenue Share Rate</td>
                                    <td class="value"><span class="dollar_value">{% get_rs_rate simulation %}</span> /MW</td>
                                </tr>
                                <tr>
                                    <td>Real Property Rate per $100 of Assessed Value</td>
                                    <td class="value dollar_value">{% get_real_property_rate simulation %}</td>
                                </tr>
                            {% elif field == 'initial_investment' %}
                                <tr>
                                    <td>Initial Investment</td>
                                    <td class="value"><span class="dollar_value">{{value}}</span></td>
                                </tr>
                            {% elif field == 'initial_year' %}
                            <tr>
                                <td>Initial Year</td>
                                <td class="value">{{value}}</td>
                            </tr>
                            {% elif field == 'project_size' %}
                            <tr>
                                <td>Project Size</td>
                                <td class="value">{{value}} MW</td>
                            </tr>
                            {% elif field == 'total_acreage' %}
                            <tr>
                                <td>Total Land Acreage</td>
                                <td class="value"><span class="comma_value">{{value}}</span> acres</td>
                            </tr>
                            {% elif field == 'inside_fence_acreage' %}
                            <tr>
                                <td>Inside Fence Acreage</td>
                                <td class="value"><span class="comma_value">{{value}}</span> acres</td>
                            </tr>
                            {% elif field == 'baseline_land_value' %}
                            <tr>
                                <td>Base Land Value</td>
                                <td class="value"><span class="dollar_value">{{value}}</span> /acre</td>
                            </tr>
                            {% elif field == 'inside_fence_land_value' %}
                            <tr>
                                <td>Inside the Fence Land Value</td>
                                <td class="value"><span class="dollar_value">{{value}}</span> /acre</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <!-- <tr>
                        <td colspan="2">Effective M&T Tax Rate per $100 Assessed Value</td>
                    </tr>
                    <tr>
                        <td class="value-rate">Year 1</td>
                        <td class="value">${% get_mt_rate simulation%}</td>
                    </tr>
                    <tr>
                        <td class="value-rate">Year 2</td>
                        <td class="value">${% get_mt_rate simulation%}</td>
                    </tr>
                    <tr>
                        <td class="value-rate">Year 3</td>
                        <td class="value">${% get_mt_rate simulation%}</td>
                    </tr>
                    <tr>
                        <td class="value-rate">Year 4</td>
                        <td class="value">${% get_mt_rate simulation%}</td>
                    </tr>
                    <tr>
                        <td class="value-rate">Year 5 & on</td>
                        <td class="value">${% get_mt_rate simulation%}</td>
                    </tr> -->
                </tbody>
            </table>

            <div class="back-button">
                <form action="form">
                    <button type="submit" class="btn btn-primary back-btn">Update Parameters</button>
                </form>
            </div>
        </div>
        
        <div class="col-xl-6 right-col">
            <div class="result-top-text">
                <div class="result-title">
                    <h3>Total expected lifetime revenue</h3>
                    <p> (In 2020 $, discounted at {% get_discount_rate simulation %}% per year): </p>
                </div>
                <div class="result-text">
                    <table class = "table table-striped result-table">
                        <tr class="rs-revenue-row">
                            <td>
                                <strong class="rs-revenue-title">Revenue Share</strong>
                            </td>
                            <td>
                                <span class="dollar_value">{% get_totals calculations.tot_rs %}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="mt-revenue-title">M&T Tax</strong>
                            </td>
                            <td>
                                <span class="dollar_value">{% get_totals calculations.tot_mt %}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Increase from Revenue Share</strong>
                            </td>
                            <td>
                                <span class="dollar_value difference"> {% subtract calculations.tot_rs calculations.tot_mt %}</span>
                            </td>
                        </tr>
                    </table>
                    <!-- <p><strong>Revenue Share:</strong> $<span class="comma_value">{% get_totals calculations.tot_rs %}</span></p>
                    <p><strong>M&T Tax:</strong> $<span class="comma_value">{% get_totals calculations.tot_mt %}</span></p>
                    <p><strong>Increase from Revenue Share: </strong>$<span class="comma_value"> {% subtract calculations.tot_rs calculations.tot_mt %}</span></p> -->
                </div>
            </div>

            <div class="chart">
                <h3 class="chart-title">Lineplot of Nominal Cashflows through 2050</h3>
                
                {% load static %}
                {% load plotly_dash %}
                <div class="prototype-graph">{{ graph.plot1 | safe}}</div>
                
            </div>
        </div>
    </div>
    <div id="side-by-side-comparison" class="side-by-side-comparison">
        <div class="table-title">
            <h3>Annual Cashflows Under the 2 Different Revenue Models</h3>
            <p>(Rounded to the nearest thousand)</p>
        </div>
        
        <table class="table table-striped side-table">
            <thead>
                <tr class="header">
                    <th scope="col">Year</th>
                    <th scope="col">M&T Tax Nominal $</th>
                    <th scope="col">Revenue Share Nominal $</th>
                    <th scope="col">M&T Tax in 2020 $ Discounted at {% get_discount_rate simulation %}%</th>
                    <th class="last-data" scope="col">Revenue Share in 2020 $ Discounted at {% get_discount_rate simulation %}%</th>
                </tr>
            </thead>
            <tbody>
                {% for i in n %}
                    {% if forloop.counter|divisibleby:2 %}
                    <tr class="even">
                        <td>{{i|add:2020}}</td>
                        <td><span class="dollar_value">{{calculations.cas_mt|get_revenue_index:i}}</span></td>
                        <td class="right-border-cell"><span class="dollar_value">{{calculations.cas_rs|get_revenue_index:i}}</span></td>
                        <td><span class="dollar_value">{{calculations.tot_mt|get_revenue_index:i}}</span></td>
                        <td><span class="dollar_value">{{calculations.tot_rs|get_revenue_index:i}}</span></td>
                    </tr>
                    {% else %}
                    <tr class="odd">
                        <td>{{i|add:2020}}</td>
                        <td><span class="dollar_value">{{calculations.cas_mt|get_revenue_index:i}}</span></td>
                        <td class="right-border-cell"><span class="dollar_value">{{calculations.cas_rs|get_revenue_index:i}}</span></td>
                        <td><span class="dollar_value">{{calculations.tot_mt|get_revenue_index:i}}</span></td>
                        <td><span class="dollar_value">{{calculations.tot_rs|get_revenue_index:i}}</span></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>Totals</td>
                    <td><span class="dollar_value">{% get_table_totals calculations.cas_mt %}</span></td>
                    <td class="right-border-cell"><span class="dollar_value"> {% get_table_totals calculations.cas_rs %}</span></td>
                    <td><span class="dollar_value">{% get_table_totals calculations.tot_mt %}</span></td>
                    <td><span class="dollar_value">{% get_table_totals calculations.tot_rs %}</span></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}