<!-- Page to change local and SCC depreciation schedules -->

{% extends 'base.html' %}

{% block content %}
    {% load custom_tags %}
    <div class="row depreciation-row">
        <div class="col-xl-6 depreciation-forms">
            <div>  
                <h2>Local Depreciation Schedule</h2> 
                <form action="/locality-{{locality}}/" class="local-depreciation-form" method="POST" name="testing">
                    {% csrf_token %}
                    <table>
                        <thead>
                            <tr>
                                <td class="depreciation-form-year">
                                    Year
                                </td>
                                <td class="depreciation-form-rate">
                                    Depreciation Rate (%)
                                </td>
                            </tr>
                        </thead>
                    
                        {% for item in local_depreciation %}
                            <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    <input type=text value="{% change_to_percentage item %}" name="local-{{forloop.counter}}">
                                </td>
                            </tr>
                        {% endfor %} 
                    </table>
                    
                    <button type="submit" class="btn btn-lg btn-primary local-rate-submit" value=""> Change Local Schedule </button>
                </form>
            </div>
        </div>
        <div class="col-xl-6 depreciation-forms">
            <h2>SCC Depreciation Schedule</h2> 
            <form action="/user-{{locality}}/" class="local-depreciation-form" method="POST">
                {% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <td class="depreciation-form-year">
                                Year
                            </td>
                            <td class="depreciation-form-rate">
                                Depreciation Rate (%)
                            </td>
                        </tr>
                    </thead>
                
                    {% for item in scc_depreciation %}
                        <tr>
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td>
                                <input type=text value="{% change_to_percentage item %}" name="scc-{{forloop.counter}}">
                            </td>
                        </tr>
                    {% endfor %} 
                </table>
                    <!-- Year {{forloop.counter}}
                    
                    <br> -->
                
                <input type="submit" value="Change SCC Schedule" class="btn btn-lg btn-primary local-rate-submit">
            </form>
        </div>
    </div>
    
    <!-- {% for item in local_depreciation %}
        <p>{{forloop.counter}}   <span class="percentage">{{item}}</span>%</p>
    {% endfor %}
    <p>{{local_depreciation}}</p>
    <p>{{scc_depreciation}}</p>
    <div class="row">
        <div class="col-xl-6">
            <h2>Local Depreciation Schedule</h2>
            <table>
                <th>
                    <tr>
                        <td>
                            Year
                        </td>
                        <td>
                            Rate
                        </td>
                    </tr>
                </th>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            90%
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xl-6">
            <h2>SCC Depreciation Schedule</h2>
            <table>
                <th>
                    <tr>
                        <td>
                            Year
                        </td>
                        <td>
                            Rate
                        </td>
                    </tr>
                </th>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            90%
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
{% endblock %}