<!-- Main user page, where a user can view a summary of all the projects they have entered and the total revenues from these projects. -->

{% extends 'base.html' %}
{% load static %}
{% block content %}


    {% if user.username == locality.name %}
    <div class="locality-home-body">
        <h1 class="locality-home-header locality_name">{{locality.name}}</h1>

        <form action="/form/" method="POST" class="generateButton-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg generateButton" value = "{{user.username}}" name="generateButton">Generate New Project Analysis</button>
        </form>
        
        {% if simulations %}
            <div class="locality-summary">
                <table class="locality-summary-table">
                    <tr>
                        <td>
                            <h4>Total Revenue Share Revenue</h4>
                        </td>
                        <td>
                            <h4><span class="dollar_value">{{total_rs_revenue}}</span></h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Total M&T/Real Estate Tax Revenue</h4>
                        </td>
                        <td>
                            <h4><span class="dollar_value">{{total_mt_revenue}}</span></h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Increase in Revenue from Revenue Share</h4>
                        </td>
                        <td>
                            <h4><span class="dollar_value difference">{{difference}}</span></h4>
                        </td>
                    </tr>
                
                </table>
            </div>
            {% for simulation in simulations %}
                {% if forloop.first %}
                        <div class="row locality-row">
                {% endif %}
                
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card simulation-card text-center">

                        <div class="card-body">
                            
                            <table class="card-table table-striped">
                                <h2>{{simulation.name}}</h2>
                                <tr class="card-table-row">
                                    <td>
                                        <strong>Years</strong>
                                    </td>
                                    <td class="card-table-value">
                                        {{simulation.initial_year}} - {{simulation.initial_year|add:simulation.project_length}}
                                    </td>
                                </tr>
                                <tr class="card-table-row odd">
                                    <td>
                                        <strong>Total Capitalized Investment</strong>
                                    </td>
                                    <td class="card-table-value">
                                        <span class="dollar_value">{{simulation.initial_investment}}</span>
                                    </td>
                                </tr>
                                <tr class="card-table-row">
                                    <td>
                                        <strong>Project Size</strong>
                                    </td>
                                    <td class="card-table-value">
                                        {{simulation.project_size}} MW
                                    </td>
                                </tr>
                                <tr class="card-table-row">
                                    <td>
                                        <strong>Dominion or APCO?</strong>
                                    </td>
                                    <td class="card-table-value">
                                        {{simulation.dominion_or_apco}}
                                    </td>
                                </tr>
                                <tr class="odd card-table-row">
                                    <td>
                                        <strong>Revenue Share Revenue</strong>
                                    </td>
                                    <td class="card-table-value">
                                        <span class="dollar_value">{% get_totals simulation.calculations.tot_rs %}</span>
                                    </td>
                                </tr>
                                <tr class="card-table-row">
                                    <td>
                                        <strong>M&T/Real Estate Tax Revenue</strong>
                                    </td>
                                    <td class="card-table-value">
                                        <span class="dollar_value">{% get_totals simulation.calculations.tot_mt %}</span>
                                    </td>
                                </tr>
                                <tr class="odd card-table-row">
                                    <td>
                                        <strong>Difference</strong>
                                    </td>
                                    <td class="card-table-value">
                                        <span class="dollar_value difference">{% subtract simulation.calculations.tot_rs simulation.calculations.tot_mt %}</span>
                                    </td>
                                </tr>
                            </table>
                            <div class="analysis-buttons">
                                <form action="/user-{{simulation.user.name}}/{{simulation.id}}/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="simulation_id" value ="{{simulation.id}}">
                                    <button type="submit" class="btn btn-primary btn-md view-button" name = "viewButton">View Analysis</button>
                                </form>
                                <form action="/user-{{simulation.user.name}}/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="simulation_id" value ="{{simulation.id}}">
                                    <button type="submit" class="btn btn-md btn-danger delete-button" name = "deleteButton">Delete Analysis</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        
        {% endif %}

        <div class="locality-info">
            <h2> Parameters for Calculations</h2>
            <table class="table-striped locality-info-table">
                <thead>
                    <tr>
                        <td>
                            <strong>Parameter</strong>
                        </td>
                        <td class="value">
                            <strong>Value</strong>
                        </td>
                    </tr>
                </thead>
                <tr>
                    <td>
                        Use Composite Index for Calculations?
                    </td>
                    <td class="value">
                        <span>{{locality.use_composite_index}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Revenue Share Rate
                    </td>
                    <td class="value">
                        <span class="dollar_value">{{locality.revenue_share_rate}}</span> /MW
                    </td>
                </tr>
                <tr>
                    <td>
                        Discount Rate
                    </td>
                    <td class="value">
                        {{locality.discount_rate}}%
                    </td>
                </tr>
                <tr>
                    <td>
                        M&T Tax Rate
                    </td>
                    <td class="value">
                        ${{locality.mt_tax_rate}} / $100 Assessed Value
                    </td>
                </tr>
                <tr>
                    <td>
                        Real Property Rate
                    </td>
                    <td class="value">
                        ${{locality.real_property_rate}} / $100 Assessed Value
                    </td>
                </tr>
                <tr>
                    <td>
                        Assessment Ratio
                    </td>
                    <td class="value">
                        {{locality.assessment_ratio}}%
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Composite Index Parameters</strong>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Local True Value
                    </td>
                    <td class="dollar_value value">
                        {{locality.baseline_true_value}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Adjusted Gross Income
                    </td>
                    <td class="dollar_value value">
                        {{locality.adj_gross_income}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Taxable Retail Sales
                    </td>
                    <td class="dollar_value value">
                        {{locality.taxable_retail_sales}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Population
                    </td>
                    <td class="comma_value value">
                        {{locality.population}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Average Daily Student Membership (ADM)
                    </td>
                    <td class="comma_value value">
                        {{locality.adm}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Required Local Matching (Sum of RLE & RLM)
                    </td>
                    <td class="dollar_value value">
                        {{locality.required_local_matching}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Education Budget Escalator
                    </td>
                    <td class="value">
                        {{locality.budget_escalator}}%
                    </td>
                </tr>
                <tr>
                    <td>
                        Years Between Assessment
                    </td>
                    <td class="value">
                        {{locality.years_between_assessment}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form method="POST" action="update-user-parameters/" class="update-form">
        {% csrf_token %}
        <input class="btn btn-primary btn-lg" type="submit" value="Update User Parameters">
    </form>

    <form method="POST" action="update-depreciation-schedules/" class = "update-form">
        {% csrf_token %}
        <input class="btn btn-lg btn-info" type="submit" value="Update Depreciation Schedules">
    </form>

    
    {% else %}
        <div class="locality-error-message">
            <h2>Your are not logged in as <span class="locality_name">{{locality.name}}</span></h2>
            <br>
            <h2>Please Login to <span class="locality_name">{{locality.name}}</span>'s Account</h2>
        </div>
    {% endif %}
{% endblock %}