<!-- Login Page. The form is the Django AuthenticationForm().-->
{% extends 'base.html' %}

{% block content %}

<div class="container login-container">
    <div class="login-form-1">
        <h2> <strong> Login </strong></h2>
        <form method="POST" class="login-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group login-field">
                    {{field.errors}}
                    {{field.label_tag}}   {{field}}
                </div>
            {% endfor %}

            {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
            
            <p><a href="/signup">Create New Account</a></p>
            <p><a href="/reset-password">Forgot Password?</a></p>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg login-submit" value="Login"/>
            </div>
        </form>

        </div>
    </div>
</div>


{% endblock %}