{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="locality-home-body">
        <h1 class="locality-home-header">{{locality.name}}</h1>
        
        {% if simulations %}

            {% for simulation in simulations %}
                {% if forloop.first %}
                        <div class="row locality-row">
                {% endif %}
                
                <div class="col-md-3 col-sm-6">
                    <div class="card simulation-card">
                        <div class="card-body">
                            <p class="card-text">Initial Year: {{simulation.initial_year}}</p>
                            <p class="card-text">Initial Investment: ${{simulation.initial_investment}}</p>
                            <p class="card-text">Revenue Share Rate: {{simulation.revenue_share_rate}} $/MW</p>
                            <p class="card-text">Project Size: {{simulation.project_size}} MW</p>
                            <p class="card-text">Discout Rate: {{simulation.discount_rate}}%</p>
                            <form action="/dash/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="simulation_id" value ="{{simulation.id}}">
                                <button type="submit" class="btn btn-primary btn-sm view-button" name = "viewButton">View Model</button>
                            </form>
                            <form action="/locality-{{simulation.locality.name}}/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="simulation_id" value ="{{simulation.id}}">
                                <button type="submit" class="btn btn-sm btn-danger delete-button" name = "deleteButton">Delete Model</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
                <h2>Please Fill out the form to create a model</h2>
                <button class="btn btn-primary btn-lg">Create Model</button>
        {% endif %}
    </div>
    <form action="/form/" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg generateButton" value = "{{locality}}" name="generateButton">Generate New Model</button>
    </form>
{% endblock %}