<!-- Page when user first registers to choose the locality that they want to base their starting parameters 
off of.-->

{% extends 'base.html' %} 

{% block content %}


<div class="update-locality-all">
    <div class="update-locality-header">
        <h2><strong>Select Your Locality</strong></h2>
        <p>A locality must be selected to initalize profile parameters</p>
        <p>All parameters can be changed after your account is initalized</p>
        <p>Your locality cannot be changed after selection</p>
    </div>

    <form method="POST" action="/user-{{username}}/">
        {% csrf_token %}

        <select data-live-search="true" class="selectpicker" name="locality">
            <option selected>Choose Your Locality</option>
            {% for locality in all_localities %}
                <option value="{{locality.name}}">{{locality.name}}</option>
            {% endfor %}
        </select>
        <br>
        <button class="btn btn-lg btn-info update-locality-submit" type="submit">Continue</button>
    </form>
</div>
{% endblock %}