<!-- Form that allows a user to update its parameters used for calculations. Uses the UserProfileUpdateForm in forms.py.-->

{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h2 class="selected-locality">
        <!-- Update Locality Parameters -->
        <strong>Update Locality Parameters for <span class="locality_name">{{ county }}</strong></span>
    </h2>
    
    <div class="form-group">
        <form action = "/user-{{county}}/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn btn-primary btn-lg"> Update Locality Parameters</button>
        </form>
    </div>
    <br><br>
</div>
{% endblock content %}