<!--
    HTML file for the change password feature. Uses the PasswordResetUsernameForm form forms.py 
-->

<!-- THIS IS WHAT I NEED TO CHANGE TO UPDATE THE ACTUAL CONTENTS OF THE EMAIL - GUESSING SHOULD LINK TO A FORM -->
{% load static %}
{% load custom_tags %}
<head>
    <title>Password Reset</title>
</head>

<body>
    <p>You are receiving this email because you requested a password reset for your SolTax account</p>
    <p>Please continue to the following page and choose a new password</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset my password</a></p>
    <p>Here is your username: {{ user.get_username }}</p>
    <p>Good luck and thanks for using our site!</p>
    <h1>Coooper Center</h1> 

</body>
