{% extends 'base.html' %}

{% block content %}
  <div class="password-reset-confirm">
  {% if validlink %}
    <h2><strong>Change Password</strong></h2>
    <form method="post">
      <div class="password-change-form">
        {% csrf_token %}
        {{ form.as_p }}
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Change Password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid. Request a new password reset.
    </p>
  {% endif %}
  </div>  
{% endblock %}