/* Overall Styles */
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
} 
h2, h3, h4{
    font-size: 24px;
}

/* Table for model */
.side-table th, .side-table td{
    text-align: left; 
    padding: 5px 50px 5px 0;
    border-bottom: 1px solid black;
}

li{
    padding: 1% 0;
}

/* Navbar */
.site-name{
    color: #232D4B;
    /* color: red; */
    text-decoration: none;
}
.site-name:hover{
    color: rgb(131, 125, 125);
    text-decoration: none;
}
.technical-appendix{
    color: #232D4B;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px 0 0;
}
.technical-appendix:hover{
    color: rgb(131, 125, 125);
    text-decoration: none;
}

/* Footer */
.footer{
    background-color: #232D4B;
    padding: 5px 0;
    line-height: 1;
}
.footer-text{
    color: rgb(173, 171, 171);
    text-align: center;
}

/* Home Page */ 
.model-description{
    padding: 3% 5%;
}


/* Dropdown/Dropup Buttons*/ 
.locality-dropup{
    text-align: center;
    padding: 5% 5% 2%;
}
.dropdown-menu a:hover{
    background-image: none;
    background-color:rgb(166, 198, 226);
}

/* Form */
.form-group{
    padding: 0 10%;
}
.selected-locality{
    padding: 1% 0;
    text-align:  center;
}
.back-button{
    text-align: center;
    padding: 5% 0 5%;
}

/* Graph and Table Page */
#solar-tool-prototype{
    padding: 2.25% 7% 4.25% 4.25%;
}
.data-header{
    text-align: center;
    padding: 1% 0;
    /* padding-bottom: 2%; */
}
/* Table */
.side-table .last-data{
    padding-right: 0;
}
.table-title{
    padding-top: 5%;
}
.sub-label{
    margin-block-end: 0;
}

/* Graph */
.right-col{
    padding-left: 6%;
}
.graph-bottom-text{
    text-align: center;
}
.chart-title{
    position: relative;
    left: 75px;
    padding-top: 5%;
}
.prototype-graph{
    width: 600px;
}

/* Data Entered */
.parameter-table{
    position: relative;
    left: 100px;
}
.parameter-table th, .parameter-table td{
    padding: 5px 0;
    border-bottom: 1px solid black;
}
.entered-data-header{
    font-weight: 500;
}
.entered-data-title{
    text-align: center;
    padding: 7% 0 2%;
}
.value-header{
    text-align: right;
}
.parameter-table .value-rate{
    padding-left: 30px;
}
.parameter-table .value{
    padding: 5px 0 5px 130px;
    text-align: right;
}



/* Technical Page */
.technical-text{
    padding: 3%;
}
.locality-row{
    margin-right:0px;
}
.locality-card{
    width: 12rem;
    margin: 25px 0 25px 25px;
}
.simulation-card{
    margin: 20px;
    width: 18rem;
}
.view-button{
    margin-top: 4%;
}
.delete-button{
    margin: 4% 4% 0;
}

.locality-home-body{
    height: 80vh;
}
.locality-home-header{
    text-align: center;
    padding: 2%;
}


.locality-list-body{
    height: 80vh;
}
.locality-list-header{
    text-align: center;
    padding: 2%;
}

